<!DOCTYPE html>
<html ng-app = 'myApp'>

  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js" type="text/javascript"></script>
    <script src="scripts/script.js" type="text/javascript"></script>
    <title>Add a Pet</title>
  </head>
  <body>
    <div ng-controller = 'petController'>
      <h2>Add Your Pet!</h2>
      <p><a href = "index.html">Home</a></p>
      <p><a href = "view.html">View</a></p>
    <input type= "text" ng-model= "petNameBinder" value= "" placeholder="pet name" required>
    <input type= "text" ng-model= "petAnimalBinder" value= "" placeholder="type of animal">
    <input type= "text" ng-model= "petAgeBinder" value= "" placeholder="pet age">
    <input type= "text" ng-model= "imageBinder" value= "" placeholder="pet image url">
    <button type="button" name="imgButton" ng-click= "addImage()" >Upload Pet Image</button>
    <button type="button" name="subButton" ng-click= "addPet()" >Add Pet</button>
  </div>
  </body>
</html>
