<!DOCTYPE html>
<html ng-app = 'myApp'>
 <head>
   <meta charset="utf-8">
   <title>Pets Viewer</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" charset="utf-8">
   <script src="vendors/angular.min.js" type="text/javascript"></script>
   <script src="scripts/script.js" type="text/javascript"></script>
 </head>
 <body align="center">
   <div ng-include="'partials/nav.html'"></div>
     <img ng-src="https://s32.postimg.org/szn2qch5h/catanddog.jpg"></img>
     <h1>The Pets of Nu Cohort</h1>
</body>
</html>
