<!DOCTYPE html>
<html ng-app = 'myApp'>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" charset="utf-8">
    <script src="vendors/angular.min.js" type="text/javascript"></script>
    <script src="scripts/script.js" type="text/javascript"></script>
    <title>View The Pets!</title>
  </head>
  <body align="center">
    <div ng-include="'partials/nav.html'"></div>
    <div ng-controller = 'viewController' ng-init='getPets()'>
      <div class="container">
         <h2>The Pets of Nu</h2>
         <p></p>
         <div class="row">
           <div class="petRecord col-md-4" ng-repeat='record in allThePets'>
             <img ng-src='{{record.image}}'><br />
             <b>{{ record.name }}</b><br />
             {{ record.age}} year old {{ record.animal}}<br />
             <button type="button" name="delButton"  class="smallButton" ng-click="deletePet($index)">Delete Pet</button>
             <p> </p>
           </div>
         </div>
       </div>
  </body>
</html>
