body {
  font-family: 'Palatino', Impact, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 50px;
  color: #e6f2ff;
  z-index: 9;
  position: absolute;
  top: 50px;
  left: 245px;
}

h2 {
  color: #0073e6;
}

img {
  z-index: 1;
}

p {

}

.viewbutton {
  font-family: 'Palatino', Impact, Helvetica, Arial, sans-serif;
  z-index: 8;
  position: absolute;
  top: 615px;
  left: 400px;
  font-size: 22px;
  background-color: #80bfff;
}

.smallButton {
  font-family: 'Palatino', Impact, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #80bfff;
  margin-top: 3px;
}
