body {
  font-family: 'Palatino', Impact, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 50px;
  color: #e6f2ff;
  z-index: 9;
  position: absolute;
  top: 50px;
  left: 245px;
}

h2, h3 {
  color: #0073e6;
  margin-bottom: 0;
}

img {
  z-index: 1;
}

.smallButton {
  font-family: 'Palatino', Impact, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #80bfff;
  margin-top: 3px;
}
